

/*Estrutura do site Noticias Cidade*/

*{
	margin: 0;
	padding: 0;
}

img{
	border-radius:5%;
}





@media (max-width: 320.99px) {

			body{
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			

			
		}

		#logo{
			position:absolute;
			left:160px;
			top:10px;
			width:18%;
		}

		#escolha-cidades{
			position: absolute;
			left:5px;
			top: 20px;
			
			
		}

		#dropdownMenuLink{
			font-size: 13px;
			height:50px;
			text-align: center;
			line-height:40px;
			font-weight: 900;
			padding:5px;
			max-width:120px;
		}

		.dropdown-item{
			border-bottom: 1px solid gray;
			padding: 20px;
			text-align: center;
			width: 100%;
		}

		.dropdown-menu{
			position: relative;
			top: 70px;
		}

		

		#menu-hamburguer{
			position: absolute;
			left: 80%;
			top:20px;
			padding: 0;
			height: 50px;

		}

		

		
		#label-news{
			-webkit-animation: label-news 3s linear infinite;
               -moz-animation: label-news 3s linear infinite;
               -ms-animation: label-news 3s linear infinite;
               -o-animation: label-news 3s linear infinite;
               animation: label-news 3s linear infinite;

               position: relative;
               top:-5px;
               left:;

               font-size: 30px;
               padding:0px;
               border-top-left-radius:10px;
               border-top-right-radius:10px;

		}

		   @keyframes  label-news {
             99%{ opacity: 1; }
             100% { opacity: 0; }
         }


		#carroussel-noticias{
			background: white;
			top:100px;
			left: 0;
			border: 1px solid black;
			height: 35px;
			position: fixed;
			width: 410px;
			z-index:2;
			background: black;
		}


		.carousel-item-rotativo{
			transition: transform 30s linear;
			
		}

		#carousel-news{
			position: relative;
			top:-45px;
			left:30px;
			width:10000px;

		}

		#carousel-inner{
			position: relative;
			left:50px;
			width:3000px;
			
		}

		#navegacao{
			position: fixed;
			min-width: 375px;
			z-index:3;
			border-radius:10px;
			height:90px;

		}


		.navbar-nav{
			position: relative;
			top:80px;
			height:300px;
			background: white;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}







		#display-video{
			position: relative;
			left:1%;
			top:150px;
			min-width: 375px;
			height:315px;
		
		}

		#video{
			min-width: 360px;
			min-height: 315px;
		}

		#carousel{
			min-width:360px;
			position: relative;
			top: -1px;
			left:5px;
		}

		#destaque-carroussel{
			position: relative;
			top:220px;
		}

		#ultimas-noticias{
			position: relative;
			top:200px;
			min-width: 365px;
			left:1%;
		}



		

		.header-padrao{
			white-space: nowrap;
			padding:10px;
			text-align: center;
		}

		.sinopse{
			padding-left:20px;
			padding-right:20px;
			padding-bottom: 0;
			font-size:12px;
			position: relative;
			top: 0px;
		}

		.link-noticia{
			text-align: center;
		}

		.aba-card{
			height: 35px;
			border-radius:10px 10px 0 0;
			paddin: 0;
			max-width:85%;
			position: relative;
			top:10px;
			text-align: center;
			padding: 5px;
		
		}

		.aba-card-invertida{
			height: 35px;
			border-radius:0 0 10px 10px ;
			paddin: 0;
			max-width:290px;
			position: relative;
			top:-10px;
			left:15px;
			text-align: center;
			padding: 5px;
		
		}

		.texto-rotativo{
			white-space: nowrap;
			padding-left: 0;
			line-height:40px;
			color: white;
			font-size:26px;
			width:1300px;

		}

}

/*******************************************************************************************************************************************/
























/* CELULAR TAMANHO M */

@media (min-width:321px) and (max-width: 375.99px) {


			body{
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			

			
		}

		#logo{
			position:absolute;
			left:160px;
			top:10px;
			width:18%;
		}

		#escolha-cidades{
			position: absolute;
			left:5px;
			top: 20px;
			
			
		}

		#dropdownMenuLink{
			font-size: 13px;
			height:50px;
			text-align: center;
			line-height:40px;
			font-weight: 900;
			padding:5px;
			max-width:120px;
		}

		.dropdown-item{
			border-bottom: 1px solid gray;
			padding: 20px;
			text-align: center;
			width: 100%;
		}

		.dropdown-menu{
			position: relative;
			top: 70px;
		}

		

		#menu-hamburguer{
			position: absolute;
			left: 80%;
			top:20px;
			padding: 0;
			height: 50px;

		}

		

		
		#label-news{
			-webkit-animation: label-news 3s linear infinite;
               -moz-animation: label-news 3s linear infinite;
               -ms-animation: label-news 3s linear infinite;
               -o-animation: label-news 3s linear infinite;
               animation: label-news 3s linear infinite;

               position: relative;
               top:-5px;
               left:;

               font-size: 30px;
               padding:0px;
               border-top-left-radius:10px;
               border-top-right-radius:10px;

		}

		   @keyframes  label-news {
             99%{ opacity: 1; }
             100% { opacity: 0; }
         }


		#carroussel-noticias{
			background: white;
			top:100px;
			left: 0;
			border: 1px solid black;
			height: 35px;
			position: fixed;
			width: 410px;
			z-index:2;
			background: black;
		}


		.carousel-item-rotativo{
			transition: transform 40s linear;
			width:2000px;
		}

		#carousel-news{
			position: relative;
			top:-45px;
			left:30px;
			width:800px;

		}

		#carousel-inner{
			position: relative;
			left:50px;
			
		}

		#navegacao{
			position: fixed;
			min-width: 375px;
			z-index:3;
			border-radius:10px;
			height:90px;

		}


		.navbar-nav{
			position: relative;
			top:80px;
			height:300px;
			background: white;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}







		#display-video{
			position: relative;
			left:1%;
			top:150px;
			min-width: 375px;
			height:315px;
		
		}

		#video{
			min-width: 360px;
			min-height: 315px;
		}

		#carousel{
			min-width:360px;
			position: relative;
			top: -1px;
			left:5px;
		}

		#destaque-carroussel{
			position: relative;
			top:180px;
		}

		#ultimas-noticias{
			position: relative;
			top:200px;
			min-width: 365px;
			left:1%;
		}



		

		.header-padrao{
			white-space: nowrap;
			padding:10px;
			text-align: center;
		}

		.sinopse{
			padding-left:20px;
			padding-right:20px;
			padding-bottom: 0;
			font-size:12px;
			position: relative;
			top: 0px;
		}

		.link-noticia{
			text-align: center;
		}

		.aba-card{
			height: 35px;
			border-radius:10px 10px 0 0;
			paddin: 0;
			max-width:85%;
			position: relative;
			top:10px;
			text-align: center;
			padding: 5px;
		
		}

		.aba-card-invertida{
			height: 35px;
			border-radius:0 0 10px 10px ;
			paddin: 0;
			max-width:290px;
			position: relative;
			top:-10px;
			left:15px;
			text-align: center;
			padding: 5px;
		
		}

		.texto-rotativo{
			white-space: nowrap;
			padding-left: 0;
			line-height:40px;
			color: white;
			font-size:26px;
			width:1300px;

		}




}

/********************************************************************************************************************************************/

















/* Celulares Tamanho G */

@media (min-width:376px) and (max-width: 425.99px) {


			body{
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			

			
		}

		#logo{
			position:absolute;
			left:160px;
			top:10px;
			width:18%;
		}

		#escolha-cidades{
			position: absolute;
			left:5px;
			top: 20px;
			
			
		}

		#dropdownMenuLink{
			font-size: 13px;
			height:50px;
			text-align: center;
			line-height:40px;
			font-weight: 900;
			padding:5px;
			max-width:120px;
		}

		.dropdown-item{
			border-bottom: 1px solid gray;
			padding: 20px;
			text-align: center;
			width: 100%;
		}

		.dropdown-menu{
			position: relative;
			top: 70px;
		}

		

		#menu-hamburguer{
			position: absolute;
			left: 80%;
			top:20px;
			padding: 0;
			height: 50px;

		}

		

		
		#label-news{
			-webkit-animation: label-news 3s linear infinite;
               -moz-animation: label-news 3s linear infinite;
               -ms-animation: label-news 3s linear infinite;
               -o-animation: label-news 3s linear infinite;
               animation: label-news 3s linear infinite;

               position: relative;
               top:-5px;
               left:;

               font-size: 30px;
               padding:0px;
               border-top-left-radius:10px;
               border-top-right-radius:10px;

		}

		   @keyframes  label-news {
             99%{ opacity: 1; }
             100% { opacity: 0; }
         }


		#carroussel-noticias{
			background: white;
			top:100px;
			left: 0;
			border: 1px solid black;
			height: 35px;
			position: fixed;
			width: 410px;
			z-index:2;
			background: black;
		}


		.carousel-item-rotativo{
			transition: transform 40s linear;
			width:2000px;
		}

		#carousel-news{
			position: relative;
			top:-45px;
			left:30px;
			width:800px;

		}

		#carousel-inner{
			position: relative;
			left:50px;
			
		}

		#navegacao{
			position: fixed;
			min-width: 420px;
			z-index:3;
			
			height:90px;

		}


		.navbar-nav{
			position: relative;
			top:80px;
			height:300px;
			background: white;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}







		#display-video{
			position: relative;
			left:1%;
			top:150px;
			min-width: 375px;
			height:315px;
		
		}

		#video{
			min-width: 400px;
			min-height: 315px;
		}

		#carousel{
			min-width:360px;
			position: relative;
			top: -1px;
			left:5px;
		}

		#destaque-carroussel{
			position: relative;
			top:180px;
		}

		#ultimas-noticias{
			position: relative;
			top:200px;
			min-width: 365px;
			left:1%;
		}



		

		.header-padrao{
			white-space: nowrap;
			padding:10px;
			text-align: center;
		}

		.sinopse{
			padding-left:20px;
			padding-right:20px;
			padding-bottom: 0;
			font-size:12px;
			position: relative;
			top: 0px;
		}

		.link-noticia{
			text-align: center;
		}

		.aba-card{
			height: 35px;
			border-radius:10px 10px 0 0;
			paddin: 0;
			max-width:85%;
			position: relative;
			top:10px;
			text-align: center;
			padding: 5px;
		
		}

		.aba-card-invertida{
			height: 35px;
			border-radius:0 0 10px 10px ;
			paddin: 0;
			max-width:290px;
			position: relative;
			top:-10px;
			left:15px;
			text-align: center;
			padding: 5px;
		
		}

		.texto-rotativo{
			white-space: nowrap;
			padding-left: 0;
			line-height:40px;
			color: white;
			font-size:26px;
			width:1300px;

		}





}

/***********************************************************************************/





/* Tablet */


@media (min-width:426px) and (max-width: 768.99px) {


		
		
			body{
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			

			
		}

		#logo{
			position:absolute;
			left:350px;
			top:15px;
			height:60%;

			
		}

		#escolha-cidades{
			position: absolute;
			left:20px;
			top: 25px;
			
			
		}

		#dropdownMenuLink{
			font-size: 16px;
			height:50px;
			text-align: center;
			line-height:30px;
			font-weight: 900;
			padding:10px;
			max-width:150px;

			
		}

		.dropdown-item{
			border-bottom: 1px solid gray;
			padding: 20px;
			text-align: center;
			width: 100%;
		}

		.dropdown-menu{
			position: relative;
			top: 100px;
		}

		

		#menu-hamburguer{
			position: absolute;
			left:80%;
			top:25px;
			padding: 0;
			height: 50px;

		}

		nav{
			position: fixed;
			top:1%;
			background: blue;
			height:100px;
		}

		.label-news{

		}
		
		#label-news{
			-webkit-animation: label-news 3s linear infinite;
               -moz-animation: label-news 3s linear infinite;
               -ms-animation: label-news 3s linear infinite;
               -o-animation: label-news 3s linear infinite;
               animation: label-news 3s linear infinite;

               position: relative;
               top:0px;
               left:2px;

               font-size: 32px;
               padding:4px;
               border-top-left-radius:10px;
               border-top-right-radius:10px;


		}

		   @keyframes  label-news {
             99%{ opacity: 1; }
             100% { opacity: 0; }
         }


		#carroussel-noticias{
			background: white;
			position: relative;
			top:100px;
			border: 1px solid black;
			height: 45px;
			position: fixed;
			width: 800px;
			z-index:3;
			background: black;
		}


		.carousel-item-rotativo{
			transition: transform 30s linear;
			width:1000px;
		}

		#carousel-news{
			position: relative;
			top:-35px;

		}

		#carousel-inner{
			position: relative;
			left:90px;
		}

		#navegacao{
			position: fixed;
			min-width: 768px;
			z-index:3;
			background: white;
			border-radius:10px;

		}


		.navbar-nav{
			position: relative;
			top:50px;
			height:600px;
		}







		#display-video{
			position: relative;
			left:1%;
			top:180px;
			min-width: 375px;
			height:315px;
		
		}

		#video{
			min-width:750px;
			min-height:500px;
		}

		#carousel{
			min-width:410px;
			position: relative;
			top: -1px;
			left:5px;
		}

		#destaque-carroussel{
			position: relative;
			top:400px;
		}

		#ultimas-noticias{
			position: relative;
			top:420px;
			min-width: 410px;
			left:1%;
		}



		

		.header-padrao{
			white-space: nowrap;
			padding:10px;
			text-align: center;
		}

		.sinopse{
			padding-left:22px;
			padding-right:20px;
			padding-bottom: 0;
			font-size:22px;
			position: relative;
			top: 0px;
		}

		.link-noticia{
			text-align: center;
			font-size:18px;
			position: relative;
			left:25%;
		}

		.link-noticia, a{

		}

		.aba-card{
			height: 35px;
			border-radius:10px 10px 0 0;
			paddin: 0;
			max-width:85%;
			position: relative;
			top:10px;
			text-align: center;
			padding: 5px;
		
		}

		.aba-card-invertida{
			height: 35px;
			border-radius:0 0 10px 10px ;
			paddin: 0;
			max-width:290px;
			position: relative;
			top:-10px;
			left:15px;
			text-align: center;
			padding: 5px;
		
		}

		.texto-rotativo{
			white-space: nowrap;
			padding-left: 0;
			line-height:20px;
			color: white;
			font-size:26px;
			width: 1600px;

		}



}
